/* spot-list page */
.spot-list-card{
  padding: 30px;
  cursor: pointer;
}

.spot-list-card span{
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

/* single page */
.review-container{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

.review-container img{
  width: 30%;
}

.review-container h3{
  font-size: 30px;

}
