/* spot-list page */
.spot-list-card{
  padding: 30px;
  height: 300px;
  cursor: pointer;
  margin-bottom: 30px;
}

.spot-list-card span{
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

/* single page */
.review-container{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 767px){
  .review-container{
    width: 100%;    
    margin-bottom: 20px;
    display: block;
  }
}

.review-container img{
  width: 30%;
}

@media (max-width: 767px){
  .review-container img{
    width: 100%;        
  }
}

.review-container h3{
  font-size: 30px;
}

/* want-to-go */
.want-to-go-card{
  max-width: 1000px;
  width: 80%;
  margin: 50px auto;
  padding: 30px;
  display: flex;
  cursor: pointer;
}

.want-to-go-card img{
  width: 40%;
  border-radius: 10px;
}

.want-to-go-right-text{
  padding: 10px;
}

.want-to-go-right-text p{
  font-size: 30px;
}
